  <div class="appointmentForm-title">Designer Nail Salon</div>
  <mat-stepper (selectionChange)="onStepChange($event)" linear #stepper>
    <mat-step [stepControl]="staffForm" [editable]="!isCompleted">
      <ng-template matStepLabel>Choose Professional</ng-template>
      <h1 class="appointmentForm-prompt">Select professional</h1>
      <div class="appointmentForm-cardWrapper">
        @for (staffName of staffNames; track staffName) {
          <app-professional-cards [selected]="staffForm.get('worker')?.value ?? ''" (click)="handleProfessionalSelection(staffName)" [name]="staffName"></app-professional-cards>
        }
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [editable]="!isCompleted" [completed]="selectedServices.length > 0">
        <ng-template matStepLabel>Choose Service</ng-template>
        <h1 class="appointmentForm-prompt">Select services</h1>
            <div class="appointmentForm-optionWrapper">
              @for (service of services; track service) {
                <app-service-card [selected]="this.selectedServices.includes(service.name)" (click)="handleServicesSelection(service.name)" [name]="service.name" [price]="service.cost" [time]="service.required_time" ></app-service-card>
              }
            </div>  
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="timeForm" [editable]="!isCompleted">
      <form [formGroup]="timeForm">
          <div class="app-datePicker">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input [min]="getTodaysDateMidnightTime()" matInput formControlName="dateSelected" [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> 
          </div>
          <ng-template matStepLabel>Choose Time</ng-template>
          <h1 class="appointmentForm-prompt">Select time</h1>
          <div style="display:flex;justify-content: center;">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>
          <!-- <mat-chip-listbox *ngIf="!isLoading" formControlName="time" class="mat-mdc-chip-set-stacked" aria-label="Available "> -->
              <div *ngIf="!isLoading" class="appointmentForm-timeWrapper">
                @for (availableTime of availableTimes; track availableTime) {
                  <app-time-card (click)="handleTimeSelection(availableTime)" [time]="availableTime" [selected]="timeForm.get('time')?.value == availableTime"></app-time-card>
                  <!-- <mat-chip-option [disabled]="isUnavailable(availableTime)" class="appointmentForm-chipOption">{{availableTime}}</mat-chip-option> -->
                }
              </div>  
            <!-- </mat-chip-listbox> -->
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="infoForm" [editable]="!isCompleted">
        <form [formGroup]="infoForm">
          <ng-template matStepLabel>Fill out your information</ng-template>
          <div class="appointmentForm-title">Fill out your information:</div>
          <div class="appointmentForm-infoWrapper">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" placeholder="Please enter your name" matInput>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Phone number</mat-label>
                <span matTextPrefix>+1 &nbsp;</span>
                <input minlength="10" maxlength="10" formControlName="number" type="tel" matInput placeholder="555-555-1234" [required]="true"> 
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button [disabled]="!isValidForm" (click)="submit(stepper)" mat-button>Submit</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You have been booked! We will see you soon</p>
    </mat-step>
  </mat-stepper>