<div [formGroup]="appointmentForm">
    <div>
      <input formControlName="phoneNumer" />
    </div>
    <div class="app-datePicker">
      <mat-form-field formControlName="date">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <mat-chip-listbox formControlName="time" class="mat-mdc-chip-set-stacked" aria-label="Available ">
      <div class="app-optionWrapper">
        @for (time of availableTimes; track time) {
          <mat-chip-option class="app-chipOption">{{time}}</mat-chip-option>
        }
      </div>
    </mat-chip-listbox>
    <div class="app-submitBtn">
      <button (click)="submit()" mat-button>Book Appointment</button>
    </div>
  </div>
  